<div>
  <nav class="p-5 fixed w-full z-50">
    <div class="flex flex-row justify-between items-center content-center align-middle glass-container py-4 px-8">
      <div class="flex flex-row">
        <span class="text-2xl font-bold">RevDO</span>
      </div>
      <div class="flex flex-row gap-9">
        <div class="content-center">
          <a href="#" class="p-4 hover-glass">Profile</a>
        </div>
        <div  class="content-center">
          <a href="#projects" class="p-4 hover-glass">Projects</a>
        </div>
        <div  class="content-center">
          <a href="#contact" class="p-4 hover-glass">Contact</a>
        </div>
      </div>
      <div>
        <button>Contact Me</button>
      </div>
    </div>
  </nav>
  <div class="pt-30 px-5">
    <ng-content />
  </div>
</div>
